<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="web前端，javascript，web前端个人简历，前端开发" />
    <meta name="description" content="陈阳志的web前端工程师个人简历">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>web前端工程师简历</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{{root}}/static/css/jquery-pagepiling/jquery.pagepiling.css" />
	<link rel="stylesheet" href="{{root}}/static/css/resume/index.css" />
</head>
<body>
<header>
	header
</header>

<div id="pagepiling">
    <div class="section" data-page="home">首页</div>
    <div class="section" data-page="about">关于我</div>
    <div class="section" data-page="skill">专业技能</div>
    <div class="section" data-page="exp">工作经历</div>
    <div class="section" data-page="demo">项目展示</div>
    <div class="section" data-page="contact">联系我</div>
</div>

<footer>
	footer
</footer>
</body>
<script src="{{root}}/static/js/jquery/jquery-1.10.2.min.js"></script>
<script src="{{root}}/static/js/jquery-pagepiling/jquery.pagepiling.min.js"></script>
<script src="{{root}}/static/js/resume/index.js"></script>
</html>
